# Ignore node_modules
node_modules/
next-mvp/node_modules/
tauros-app/node_modules/

# Next.js
next-mvp/.next/
tauros-app/.next/
out/
next-env.d.ts

#tauri
tauros-app/src-tauri/

# Ignore environment files
.env*

# Ignore log files
*.log

# Ignore system files
.DS_Store